body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b1566d;
}

p.box {
  background-color: #f2f2f2;
  width: 300px;
  height: 150px;
  border: 25px solid #4ebde5;
  margin: 25px;
  padding: 45px;
}

.sidebar {
  width: 350px;
  height: 600px;
  float: right;
  background-color: #ededed;
  padding: 5px;
}

.column {
  width: 300px;
  float: left;
  padding: 5px;
}

/* Lecture 37 styles  */

h1 {
  font-size: 50px;
}
.mainElement {
  background: #fff;
  border: 2px solid #3b3b3b;
  color: #1f1f1f;
  padding: 20px;
  height: 2000px;
  position: relative;
}

.boxed {
  background: #b1566d;
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 250px;
  width: 250px;
}

#relative {
  position: relative;
  /* push down from top */
  top: 20px;
  /* push from right to left */
  right: 20px;
}

#absolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#fixed {
  position: fixed;
}

/* Lessons on media queries */

.column {
  width: 300px;
  float: left;
  padding: 20px;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background: #5291aa;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: #b1c66d;
  }
  .column {
    width: 250px;
  }
}
